.button{
    height: 30px;
    width: 100%px;
    background-color: darkorange;
    color: aliceblue;
    border-radius:5px 5px;
    border: none
  }
  .nam{
        padding: 20px 20px;
      text-align:center;
  }
  .button-1{
      height: 40px;
    width: 300px;
    background-color: darkorange;
    text-decoration:none;
    color: aliceblue;
    border: none;
    border-radius:5px 5px;
    text-align: center;
  }
  .skills-grid {
      display: flex;
      justify-content:space-around;
  }
  
  .skill{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:300px;
   width:100%;
    background-color:white;
    padding-top: 20px;
    margin:0px;
  }
  .hi{
  color: palevioletred;
    border-color: palevioletred
    
  }
  .hl{
    border-color: darkcyan;
    color: darkcyan;
    height:30px;
    width:1000%px;
    
  }
  .oi{
    text-align: centre;
  }